<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>PUAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PUApplePay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PUApplePayTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>PUCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PUCoreTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>PUMastercardInstallments.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PUMastercardInstallmentsTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>PUPaymentCard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PUPaymentCardScanner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PUPaymentCardScannerTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>PUPaymentCardTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>PUPaymentMethods.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PUPaymentMethodsTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>PUSDK-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PUSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PUTheme.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PUThreeDS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>PUTranslations.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>PUTranslationsTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>PUWebPayments.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>PUWebPaymentsTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Spectre (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Spectre (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Spectre (Playground) 3.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Spectre (Playground) 4.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Spectre (Playground) 5.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Spectre (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>Example</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUAPITests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUApplePay</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUMastercardInstallments</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUPaymentCard</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUPaymentCardScanner</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUPaymentMethods</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUSDK</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUSDKTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUSDK_Example</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUSDK_PUAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUSDK_PUCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUSDK_PUPaymentCard</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUSDK_PUTranslations</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUTheme</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUThreeDS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUThreeDSTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUTranslations</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PUWebPayments</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
