.idea
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.netrc
project.json

# Generated
*.generated.swift

# Binaries
lib_InternalSwiftSyntaxParser.dylib

# Caches
.mockingbird/